body {
    background: rgb(210, 210, 248);
    font: normal 14px Arial ;
}

header {
    color:rgb(70, 70, 78);
    text-align: center;
}

section {
    background: white;
    padding: 10px;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.363);
    
}

.div1 {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.div2{
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}


footer
{
    color:rgb(70, 70, 78);
    text-align: center;
    font-style: italic;
}